.add_form{
    width: 100%;
    height: 50vh;
}
.form{
display: flex;
flex-direction: column; 
height: 50vh;
}

.form_input{
display:flex;
flex-basis: 25%;
justify-content: center;
align-items: center;
}

      
.form_important{
      display: flex;
      flex-basis:15%;
      font-size: $font-size*2;
      justify-content: center;
      align-items: center;
    }
    
.form_kind{
      display: flex;
      flex-basis:25%;
      // font-size: $font-size*2;
      justify-content: center;
      align-items: center;
    }
    
 .form_button-area{
  display: flex;
  flex-basis:25%;
  justify-content: center;
  align-items: center;
  }

   
        
    
    