.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.list_item{
  cursor: pointer;
  display: inline-block;
}
.important{
  
  color: red
}
.list_delete-icon{
  font-size: 20px;
  padding:20px;
  cursor: pointer;
}

.bought{
  color:gray;
  text-decoration: line-through;

}
.list_delete-all-bought{
  cursor: pointer;
  background-color:green;
}
.list_clear{
  cursor: pointer;
  background-color: yellow;
}

.list_warning{
  background-color:red;
  display:none;
}

.show--warning{ 
  display:block;
 

}
.hide-warning{
 
  display: none;
}  