 
.list_buttons{
    display:flex;
    margin: 5px;
    .list_delete-all-bought{
        margin-right: 5px;
      }
    }
    // ostrzeżenie przed usuneciem całej listy zakupow
     .list_warning{
    position: fixed;
    background-color: #eee;
    display:none;
    left: 5%;
    top:5%;
    width: 90%;
    height: 90%;
    border: 2px solid $primary-color;
    border-radius: 30px;
    z-index: 100;
    transition: 0.5s ease;
    color:$primary-color;
        @include mediaq(medium){
        left: 30%;
        top:30%;
        width: 40%;
         height: 40%;
        }
  }
  .list_warning-alert{
     width: 100%;
     height: 100% ; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  .show--warning{ 
    display:block;
  }
  
  .list-button-warning-yes-no{
      margin: 20px;
  }

.list_select-kind{
    position:relative;
    min-height: 1000px;   
}
.list_table  {
    position: absolute;
    width: 70%;
    background-color: white;
    border-top: 1px solid gray;
}
//aktywna zakładka 
.active{
    z-index:1;
    background-color: #eee;
}
//połozenie kart z listami zakupów
.all-list{
    left:30%;
    top:50px;
    min-height: 300px;  
}
.food-list{
    left:30%;
    top:100px;
    min-height: 250px;
}
.clothes-list{
    left:30%;
    top:150px;
    min-height: 200px;
}
.clean-list{
    left:30%;
    top:200px;
    min-height: 150px;
}
.tools-list{
    left:30%;
    top:250px;
    min-height: 100px;
}
.other-list{
    left:30%;
    right: 0;
    top:300px;
    min-height: 100px   
}
  
//położenie lewych przycisków
.button{
    position: absolute;
    left:0;
    text-transform: uppercase;
    width: 30%;
    height: 50px;
    cursor: pointer;
    border: 1px solid gray;
    border-bottom: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.all{
    top: 0;
}
.food{
    top: 50px;
}
.clothes{
    top: 100px;
}
.clean{
    top: 150px;
}
.tools{
    top: 200px;
}
.other{
    top: 250px;
}
