

  
  .listli{
    display: flex;
    width: 100%;
    cursor: pointer;
    // background-color: yellow;
    
  }
 
  
  .list_item{
    font-size:  $font-size*1.8;
    font-family: $font-family-special;
    width: 100%;
    padding:5px;
    text-align: left;
    // background-color: red;
  }

  .list_basket{
    // background-color: yellowgreen;
    font-size:  $font-size*2;
    padding: 5px 5px;
  }

  .important{
    color: $primary-color;
  }

  .list_delete-icon{
    font-size: 20px;
    padding: 5px 10px;
    
    cursor: pointer;
  }

  .bought{
    color:gray;
    text-decoration: line-through;
  }

 
  