

  
  .listli{
    display: flex;
    width: 100%;
    cursor: pointer;
    // background-color: yellow;
    
  }
 
  
  .list_item{
    font-size:  $font-size*1.8;
    width: 100%;
    padding:5px;
    text-align: left;
    // background-color: red;
  }

  .list_basket{
    // background-color: yellowgreen;
    font-size:  $font-size*2;
    padding: 5px 5px;
  }

  .important{
    color: $primary-color;
  }

  .list_delete-icon{
    font-size: 20px;
    padding: 5px 10px;
    // background-color:blue;
    cursor: pointer;
  }

  .bought{
    color:gray;
    text-decoration: line-through;
  }

  .list_delete-all-bought{
    cursor: pointer;
    background-color:green;
  }
  


  .list_clear{
    cursor: pointer;
    background-color: yellow;
  }
  
  .list_warning{
    background-color:red;
    display:none;
  }

  .show--warning{ 
    display:block;
  }
  