
  .list_item{
    cursor: pointer;
    display: inline-block;
  }
  .important{
    color: red
  }
  .list_delete-icon{
    font-size: 20px;
    padding:20px;
    cursor: pointer;
  }
  
  .bought{
    color:gray;
    text-decoration: line-through;
  
  }
  .list_delete-all-bought{
    cursor: pointer;
    background-color:green;
  }
  .list_clear{
    cursor: pointer;
    background-color: yellow;
  }
  
  .list_warning{
    background-color:red;
    display:none;
  }
  
  .show--warning{ 
    display:block;
  }
  