body {
  
    margin: 0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
       'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
       sans-serif;
   }
   $primary-color: #b11adc;
   $animation-duration: 0.4;
   $font-size:10px;

   @mixin label-inactive() {
    font-size: $font-size*2;
    transform: translateY(0);
  }
  
  @mixin label-active() {
    font-size:$font-size*1.5;
    transform: translateY(-14px);
  }